*{

    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}


.banner{

width: 100%;
height: 100vh;
background-image: linear-gradient(rgb(87, 87, 104),rgba(0,0,0,.75));

background-size: cover;
background-position: center;

}

.navbar{

    width: 90%;
    margin: auto;
    padding: 35px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;


}


.logo1{

    width: 150px;
    cursor: pointer;
    margin-left: 0%;

}

.navbar ul li{
    list-style: none;
    display:inline-block;
    margin: 0 20px;
    position: relative;

}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;


}

.navbar ul li::after{

    content: '';
    height: 3px;
    width: 0;
    background:#009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;



}

.navbar ul li:hover::after{

    width: 100%;

}


* {
    box-sizing: border-box;

  
}

.column {
  float:left;
  width:400px;
  padding:1px;
  margin:1px;
  margin-top: 60px;
  margin-left:80px;
padding-top: 10px; 
padding-bottom:10px;





}

.row::after {
  content: "";
  clear: both;
  display:table;
  
  

  
}

.column img{
    background-color: #009688;
    opacity: 1;
   

}

.column img:hover {
    background-color: #3da59b;
    opacity:0.5;
    border: 5px solid white;
}

.column h3 {

 text-align: left;   
 color:azure;
  font-family: 'Times New Roman', Times, serif;
 text-transform: uppercase;


}

.column p{

    text-align:left;
    color:aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:medium;
    text-decoration:absolute;
    
    
    

}

.h1{
text-align:center;
font-size:medium;
font-family:Times New Roman;
color:white;
text-transform: uppercase;
line-height: 30px;
text-decoration: overline;
margin-top: 8px;


}

.h2{
text-align: center;
color: brown;
font-family: 'Times New Roman', Times, serif;
font-size: medium;
text-transform: uppercase;
line-height: 90px;
text-decoration: overline;

}


.column1{

    float:left;
    width:400px;
    padding:1px;
    margin:1px;
    margin-top: 30px;
    margin-left:80px;
  padding-top: 10px; 
  padding-bottom:10px;


}
.row::after {
    content: "";
    clear: both;
    display:table;
    
    
  
    
  }

  .column1 img:hover {
    background-color: #3da59b;
    opacity:0.5;
    border: 5px solid white;
}

.column1 img{
    background-color: #009688;
    opacity: 1;
   

}

.column1 p{

text-align: left;
color:black;
font-size: medium;
font-family: 'Times New Roman', Times, serif;



}

.column2{

    float:left;
    width:400px;
    padding:1px;
    margin:1px;
    margin-top: 30px;
    margin-left:80px;
  padding-top: 10px; 
  padding-bottom:10px;


}

.row::after {
    content: "";
    clear: both;
    display:table;
    
    
  
    
  }

  .column2 img:hover {
    background-color: #3da59b;
    opacity:0.5;
    border: 5px solid white;
}

.column2 img{
    background-color: #009688;
    opacity: 1;
   

}

.h3{

    text-align: center;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-transform: uppercase;
    line-height: 90px;
    text-decoration: overline;



}


.column3{

    float:left;
    width:400px;
    padding:1px;
    margin:1px;
    margin-top: 30px;
    margin-left:80px;
  padding-top: 10px; 
  padding-bottom:10px;


}

.row::after {
    content: "";
    clear: both;
    display:table;
    
    
  
    
  }

  .column3 img:hover {
    background-color: #3da59b;
    opacity:0.5;
    border: 5px solid white;
}

.column3 img{
    background-color: #009688;
    opacity: 1;
   

}

.h4{
   text-align: center;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-transform: uppercase;
    line-height: 90px;
text-decoration: overline;


}



.column4{

    float:left;
    width:400px;
    padding:1px;
    margin:1px;
    margin-top: 30px;
    margin-left:80px;
  padding-top: 10px; 
  padding-bottom:10px;


}

.row::after {
    content: "";
    clear: both;
    display:table;
    
    
  
    
  }

  .column4 img:hover {
    background-color: #3da59b;
    opacity:0.5;
    border: 5px solid white;
}

.column4 img{
    background-color: #009688;
    opacity: 1;
   

}

.h5{
   text-align: center;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-transform: uppercase;
    line-height: 90px;
    text-decoration: overline;



}



.footer{

    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background:#333;
    color: #efefef;
    display: flex;
    
    }
    
    .footer div{
    
        text-align: center;
    
    }
    
    
    .main2{
    
    flex-grow: 2;
    
    
    }
    
    
    .footer div h3{
    
        font-weight: 300px;
        margin-bottom: 30px;
        letter-spacing: 1px;
    
    
    }
    
    .main1 a{
    
     display: block; 
     text-decoration: none;
     color: #efefef;
     margin-bottom: 10px;  
    
    
    
    }
    
    form input{
    
    width: 300px;
    height:30px;   
    border-radius: 2px; 
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    outline: none;
    border: none    ;
    
    
    
    }
    
    
    form button{
    
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 20px;
    padding: 10px 10px;
    font-size: medium;
    cursor: pointer;
    
    
    
    }